.navbar{
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
      background-color: rgb(84, 120, 238) !important;
    }
  
  .nav-link:hover{
      text-shadow: rgb(45, 45, 44) 1px 0 10px;
  }
  .notfound{
   height: 100%;
   width:100%;
  }
  
  @media screen and (max-width: 768px){
    .notfound{
      padding-top: 4.5rem;
    }
  }